.header{
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items:center;
    display: flex;
    justify-content: space-between;
}

.headerLeft, .headerRight{
    display: flex;
    align-items: center;
    
}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

.header_icon{
    height: 30px;
    width: auto;
    cursor: pointer;
    border-radius: 15px;
    

}

.user_avatar{
    font-size: 2rem;
}